* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("/Users/hwangjiun/Desktop/2.jpeg");
  background-size: cover;
}

.container {
  position: absolute !important;
}

#first-block {
  background-color: transparent;
  height: 500px;
  width: 500px;
  bottom: 30%;
  left: 40%;
  float: left;
  opacity: 1;
}

#second-block {
  background-color: transparent;
  bottom: 21%;
  right: 49%;
  height: 300px;
  width: 100px;
  z-index: 5;
  opacity: 1;
}

#third-block {
  background-color: transparent;
  top: 9%;
  right: 29.9%;
  width: 400px;
  height: 400px;
  z-index: 4;
  opacity: 1;
}

#fourth-block {
  background-color: transparent;
  left: 29%;
  top: 5%;
  width: 800px;
  height: 800px;
  z-index: 3;
  opacity: 1;
}

#fifth-block {
  background-color: transparent;
  width: 280px;
  height: 280px;
  bottom: 25%;
  left: 25%;
  z-index: 6;
  opacity: 1;
}
}
